html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}
a {color: #107FC9;}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.container {
  margin: 0 auto;
  width: 1024px;
}
ul {list-style: none;}

.game-search-results {
  margin: 0 auto;
  width: 500px;
}
.game-search-results ul {
}
.game-search-results li {
  margin-top: 24px;
}

.game-listing {
  border: 1px solid gray;
  padding: 24px;
  text-align: center;
}
.game-listing:hover {
  background: #ddd;
}
